{
  "printWidth": 250,
  "tabWidth": 2,
  "tabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "tailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}
